{
  "presets": ["babel-preset-expo"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./components",
          "@constants": "./constants",
          "@store": "./store",
          "@navigation": "./navigation",
          "@api": "./api",
          "@libs": "./libs",
          "@mocks": "./mocks"
        }
      }
    ]
  ]
}
